<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <%# <title>Dashboard Template · Bootstrap v5.0</title> %>
  <title>HappyCat</title>
  <style>
    header 

    .letter {
      opacity: 0;
      transform: translateY(50px);
      animation: fadeUp 0.5s ease-out forwards;
    }
    @keyframes fadeUp {
      from {
        opacity: 0;
        transform: translateY(50px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  </style>


    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/dashboard/">

    

    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    

    
    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
  </head>
  <body>
  
    <header></header>
      <script>
      // JavaScriptコードをここに記述
        const title = "Happy　Cat" ;
        const header = document.querySelector("header");
        let i = 0;

        const intervalId = setInterval(() => {
          if(i >= title.length) {
            clearInterval(intervalId);
            return;
          }

          const span = document.createElement("span");
          span.textContent = title[i];
          span.classList.add("letter");
          span.style.animationDelay = `${i * 0.1}s`;
          header.appendChild(span);
          i++;
        }, 400);
      </script>


  <div class="all">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"><%= image_tag("sun.png", alt: "日記", class: "sun-icon") %>
      <div class="position-sticky pt-2" >
        <ul class="nav flex-column">
          <li class="nav-item">
            <%= link_to profiles_path, method: :get, class: "nav-link" do %>
              <span data-feather="profile" class="me-2"><%= image_tag("cat-image5.png", alt: "プロフィール", class: "icon") %></span>
              Profile
              <span><%= image_tag("cat-image5.png", alt: "プロフィール", class: "icon") %></span>
            <% end %>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center" href="#">
              <span data-feather="diary" class="me-2"><%= image_tag("cat-image6.png", alt: "日記", class: "icon") %></span>
              Diary
              <span><%= image_tag("cat-image6.png", alt: "日記", class: "icon") %></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center" href="#">
              <span data-feather="best_shot" class="me-2"><%= image_tag("cat-image7.png", alt: "ベストショット", class: "icon") %></span>
              BestShot
              <span><%= image_tag("cat-image7.png", alt: "ベストショット", class: "icon") %></span>
            </a>
          </li>
          <% if user_signed_in? %>
            <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
              <span data-feather="log_out" class="me-2"><%= image_tag("cat-image4.png", alt: "ログアウト", class: "icon") %></span>
              ログアウト
              <span><%= image_tag("cat-image4.png", alt: "ログアウト", class: "icon") %></span>
            <% end %>
          <% else %>
            <%= link_to new_user_registration_path, method: :get, class: "nav-link" do %>
              <span data-feather="sign_up" class="me-2"><%= image_tag("cat-image3.png", alt: "新規登録", class: "icon") %></span>
              SignUp
              <span><%= image_tag("cat-image3.png", alt: "新規登録", class: "icon") %></span>
            <% end %>
            <%= link_to new_user_session_path, method: :get, class: "nav-link" do %>
              <span data-feather="sign_in" class="me-2"><%= image_tag("cat-image4.png", alt: "ログイン", class: "icon") %></span>
              SignIn
              <span><%= image_tag("cat-image4.png", alt: "ログイン", class: "icon") %></span>
            <% end %>
          <% end %>
        </ul>
      </div>
    </nav>
    
    <div id="slideshow">
      <%= image_tag "cat-image1.jpg", alt: "ログイン", class: "show" %>
      <%= image_tag "cat-image8.png", alt: "ログイン" %>
      <%= image_tag "cat-image4.jpg", alt: "ログイン" %>
      <%= image_tag "cat-image2.jpg", alt: "ログイン" %>
      <%= image_tag "cat-image9.png", alt: "ログイン" %> 
      <%# <%= image_tag "cat3.jpg", alt: "ログイン", width: "100%", height: "700px" %> 
    </div>
    <script>
      var slideshow = document.getElementById("slideshow");
      var images = slideshow.getElementsByTagName("img");
      var current = 0;

      function nextImage() {
        images[current].classList.remove("show");
        current = (current + 1) % images.length;
        images[current].classList.add("show");
      }

      setInterval(nextImage, 5000);
    </script>
    <div class="back-image">
      <%= image_tag "cat-image2.png", alt: "ログイン", width: "100%", height: "500px" %>
      <div class="image-text">
        家族との大切な時間をたくさん残そう
      </div>
    </div>

  </div>

    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

      <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script><script src="dashboard.js"></script>
  </body>
</html>
